h1 {
	text-align: center;
}

table {
	border-collapse: collapse;
	width:70%; 
	margin-left:15%; 
	margin-right:15%;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #a9a9a9;
}

th, td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #1E90FF;
	color: white;
}