{% load staticfiles %}
<!DOCTYPE html>
<html>


<head>
    <title>Person Page</title>
    <link rel="stylesheet" href="{% static 'css/screen.css' %}">
</head>


<body>

    <h1>42 Coffee Cups Test Assignment</h1>

    <table>
        <tr>
            <th>Personal information</th>
            <th>Contacts</th>
        </tr>
        <tr>
            <td>Name: {{ data.name }}</td>
            <td>Jabber: {{ data.jabber }}</td>
        </tr>
        <tr>
            <td>Surname: {{ data.surname }}</td>
            <td>Email: {{ data.email }}</td>
        </tr>
        <tr>
            <td>Date of birth: {{ data.date }}</td>
            <td>Skype: {{ data.skype }}</td>
        </tr>
        <tr>
            <td>Bio: {{ data.bio }}</td>
            <td>Other: {{ data.other }}</td>
        </tr>
    </table>

    <hr>

    <h3><a href="login/">Profile</a></h3>

    <h3><a href="request_list/">Last requests</a></h3>

</body>


</html>